<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unknown.hrms.dao.IOrgMapper">
    <select id="selectOrgByname" parameterType="String" resultType="com.unknown.hrms.entity.Org">
    select * from t_org where name = #{name};
</select>
</mapper>