/*card*/
.card {
    background-color: #f7f9fb;
    font-size: 24px;
}
.card-main {
    width:27%;
    background: #fff;
    margin:4em auto 0em;
    border-radius: 5px;
    padding:3em 2em;
}
.card h2 {
    font-size: 2.0em;
    color: #337AB7;
    text-align: center;
    margin-top:1em;
    font-weight: 700;
}
.card p {
    font-size: 1em;
    color: #696969;
    line-height: 1.5em;
    margin: 1.5em 0em;
    text-align:center;
}
.footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}