<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/forgotpwd.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="bootPage.html">地下矿井定位</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="register.html"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
				<li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
			</ul>
		</div>
	</nav>
    <div class="card">
        <div class="card-main">
            <h2>Login</h2>
            <div class="panel-body">
                <form action="index.html" method="get">
                    <div class="form-group">
                        <input id="username" type="text" class="form-control" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <input id="password" type="password" class="form-control" placeholder="请输入密码">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <h5>记住我</h5>
                            </label>
                        </div>
                        <div class="pull-left">
                            <a href="register.html"><h6><small>账号注册</small></h6></a>
                        </div>
                        <div class="pull-right">
                            <a href="forgotPwd.html"><h6><small>忘记密码</small></h6></a>
                        </div>
                    </div>
                    <div class="form-group no-margin">
                        <button type="button" class="btn btn-primary btn-block" onclick="login()">
                            LOGIN
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        Copyright &copy; UndergroundMineLocation 2020
    </div>
    </div>


    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>

</body>

</html>