<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/forgotpwd.css">
	<script src="../static/js/jquery-3.4.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">地下矿井定位</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="user_center.html"><span class="glyphicon glyphicon-magnet"></span> 我的</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		
	</div>
    <div class="footer">
		Copyright &copy; UndermineLocation 2020
	</div>
</div>
</body>

</html>